<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>
  <!-- nodelet'tag should follow obey the following format -->
  <node pkg="nodelet" type="nodelet" name="armor_detect_nodelet" args="load rm_detector/armor_detector nodelet_manager" output="screen" >
  <param name="g_model_path"  type="string" value="/home/yamabuki/detect_ws/src/rm_detector/armor3.onnx"/>
  </node>

</launch>
